/**
basic css
**/

.basic-fill {
    height: 100%;
}

.basic-nowrap {
    white-space: nowrap
}

.basic-float-right {
    float: right;
}

.basic-dataObj {
    display: none;
}

.basic-bolder {
    font-weight: bolder;
}

/*.basic-color-green {*/
/*color: #89C859;*/
/*}*/

/*.basic-color-green2 {*/
/*color: #669441;*/
/*}*/

/*.basic-color-blue {*/
/*color: #428bca;*/
/*}*/

/*.basic-color-blue2 {*/
/*color: #3975ca;*/
/*}*/

/*.basic-color-red {*/
/*color: #a94442;*/
/*}*/

/*.basic-color-red2 {*/
/*color: #913d3b;*/
/*}*/

/*.basic-color-gray {*/
/*color: #e3e3e3;*/
/*}*/

/*.basic-color-gray2 {*/
/*color: #adadad;*/
/*}*/

/*.basic-bg-green {*/
/*background-color: #dff0d8;*/
/*}*/

/*.basic-bg-green2 {*/
/*background-color: #c5f0ba;*/
/*}*/

/*.basic-bg-blue {*/
/*background-color: #5bc0de;*/
/*}*/

/*.basic-bg-blue2 {*/
/*background-color: #428bca;*/
/*}*/

/*.basic-bg-red {*/
/*color: #f2dede;*/
/*}*/

/*.basic-bg-red2 {*/
/*color: #ebccd1;*/
/*}*/

/*.basic-bg-gray {*/
/*background-color: #e3e3e3;*/
/*}*/

/*.basic-bg-gray2 {*/
/*background-color: #adadad;*/
/*}*/

.basic-title {
    /*color: #89C859;*/
    font-weight: bolder;
    /*border-bottom: 3px solid #cccccc;*/
    border-bottom: 3px solid;
    padding: 5px;
    margin-bottom: 10px;
}

.basic-title2 {
    /*color: #000000;*/
    font-weight: bolder;
    /*border-bottom: 3px solid #cccccc;*/
    border-bottom: 3px solid;
    padding: 5px;
    margin-bottom: 10px;
}

.basic-content {
    margin: 5px;
    padding: 5px;
    line-height: 1.8em;
}

.basic-link {
    cursor: pointer;
}

.basic-link-bg:hover {
    /*background-color: #eeeeee;*/
}

.basic-link-bg:active {
    /*background-color: #dddddd;*/
}

.basic-block {
    margin: 5px 5px 10px 5px;
    padding: 10px;
    /*background-color: #ffffff;*/
    border-radius: 5px;
    /*border: #c6c6c6 1px solid;*/
    border: 1px solid;
    box-shadow: rgba(50, 50, 100, 0.2) 2px 2px 2px;
}

.basic-block2 {
    margin: 5px 5px 10px 5px;
    padding: 10px;
    /*background-color: #ffffff;*/
    border-radius: 5px;
    border: #c6c6c6 1px solid;
}

.basic-block-in {
    margin: 7px 3px 8px 7px;
    padding: 10px;
    /*background-color: #ffffff;*/
    border-radius: 5px;
    /*border: #c6c6c6 1px solid;*/
    border: 1px solid;
    box-shadow: rgba(50, 50, 100, 0.5) -1px -1px 1px;
}

.basic-block-out {
    margin: 5px 5px 10px 5px;
    padding: 10px;
    /*background-color: #ffffff;*/
    border-radius: 5px;
    /*border: #c6c6c6 1px solid;*/
    border: 1px solid;
    box-shadow: rgba(50, 50, 100, 0.5) 3px 3px 3px;
}

.basic-btn-div {
    text-align: right;
    margin-top: 10px;
}